In [1]:
%pylab inline
from sklearn import svm
import numpy as np
import matplotlib.pyplot as plt
from numpy import genfromtxt
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [3]:
df = pd.read_csv('mix.csv', header=None)
df.head()

          0          1         2
0  2.240000   5.198080  3.794483
1  2.949939   8.087685  3.702027
2  4.182998  12.182489  3.833284
3  6.102876  18.147222  4.433067
4  8.993519  26.892457  6.036927

In [4]:
df.shape

(27000, 3)